@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 30 8% 95%;
		--foreground: 30 8% 5%;

		--card: 30 8% 95%;
		--card-foreground: 30 8% 5%;

		--popover: 30 8% 95%;
		--popover-foreground: 30 8% 5%;

		--primary: 25 95% 53%;
		--primary-foreground: 0 9% 2%;

		--secondary: 24 11% 91%;
		--secondary-foreground: 30 8% 5%;

		--muted: 15 9% 91%;
		--muted-foreground: 26 9% 45%;

		--accent: 24 11% 91%;
		--accent-foreground: 30 8% 5%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 20 9% 87%;
		--input: 20 9% 81%;
		--ring: 25 36% 72%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 20 7% 8%;
		--foreground: 60 9% 98%;

		--card: 20 6% 10%;
		--card-foreground: 60 9% 98%;

		--popover: 20 6% 10%;
		--popover-foreground: 60 9% 98%;

		--primary: 21 90% 48%;
		--primary-foreground: 60 9% 98%;

		--secondary: 22 8% 19%;
		--secondary-foreground: 60 9% 98%;

		--muted: 22 7% 29%;
		--muted-foreground: 21 8% 49%;

		--accent: 21 71% 19%;
		--accent-foreground: 60 9% 98%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 24 8% 12%;
		--input: 23 9% 18%;
		--ring: 21 90% 40%;
	}
}

html {
	font-family: 'Onest', 'system-ui';
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
	.blog h1 {
		@apply text-4xl font-bold mt-8 mb-4; /* Larger and bolder titles */
	}

	.blog h2 {
		@apply text-3xl font-semibold mt-6 mb-3; /* Subtitles with a bit less emphasis */
	}

	.blog h3 {
		@apply text-2xl font-medium mt-5 mb-2; /* Section titles */
	}

	.blog p {
		@apply text-base leading-relaxed my-4; /* Paragraphs with relaxed line height for readability */
	}

	.blog a {
		@apply text-primary underline; /* Links with a hover effect */
	}

	.blog blockquote {
		@apply pl-4 border-l-4 border-gray-300 italic my-4; /* Stylish blockquotes */
	}

	.blog ul {
		@apply list-disc list-inside my-4; /* Unordered lists */
	}

	.blog ol {
		@apply list-decimal list-inside my-4; /* Ordered lists */
	}

	.blog img {
		@apply my-4 mx-auto; /* Centered images with margin */
		max-width: 100%;
		height: auto;
	}

	.blog hr {
		@apply border-t my-8; /* Horizontal rules for section breaks */
	}

	.blog .code-snippet {
		@apply bg-gray-100 text-sm p-4 rounded; /* Code snippets styling */
	}

	.blog .highlight {
		@apply bg-yellow-100; /* Highlighted text */
	}

	/* Responsive typography for smaller devices */
	@media (max-width: 640px) {
		.blog h1 {
			@apply text-3xl;
		}

		.blog h2 {
			@apply text-2xl;
		}

		.blog h3 {
			@apply text-xl;
		}
	}
}

@layer blog {
}

.revert-tailwind {
	all: initial;
	font-family: 'Onest', 'system-ui';
}

.revert-tailwind > * {
	all: revert;
	font-family: 'Onest', 'system-ui';
}

/*full-calendar-shadcn.css*/
.fc.fc-theme-standard {
	--fc-small-font-size: 0.85em;
	--fc-page-bg-color: hsla(var(--background));
	--fc-neutral-bg-color: hsla(var(--muted) / 0.7);
	--fc-neutral-text-color: hsla(var(--muted-foreground));
	--fc-border-color: hsla(var(--border));
	--fc-button-text-color: hsla(var(--primary-foreground));
	--fc-button-bg-color: hsla(var(--primary));
	--fc-button-border-color: hsla(var(--border));
	--fc-button-hover-bg-color: hsla(var(--primary) / 0.9);
	--fc-button-hover-border-color: hsla(var(--border));
	--fc-button-active-bg-color: hsla(var(--primary) / 0.8);
	--fc-button-active-border-color: hsla(var(--border));
	--fc-event-bg-color: hsla(var(--primary-foreground));
	--fc-event-border-color: hsla(var(--border));
	--fc-event-text-color: hsla(var(--primary));
	--fc-event-selected-overlay-color: hsla(var(--primary) / 0.4);
	--fc-more-link-bg-color: hsla(var(--primary));
	--fc-more-link-text-color: hsla(var(--primary-foreground));
	--fc-event-resizer-thickness: 8px;
	--fc-event-resizer-dot-total-width: 8px;
	--fc-event-resizer-dot-border-width: 1px;
	--fc-non-business-color: hsla(var(--muted) / 0.2);
	--fc-bg-event-color: #8fdf82;
	--fc-bg-event-opacity: 0.3;
	--fc-highlight-color: hsla(var(--ring));
	--fc-today-bg-color: hsla(var(--accent));
	--fc-now-indicator-color: red;
	--fc-button-border-radius: var(--radius);
}

.fc .fc-button {
	border-radius: var(--radius);
}

/*Custom Multi-Select CSS*/
:global(div.multiselect > ul.options) {
	background: var(--sms-options-bg, red);
	font-size: large;
}
